{{#each star in stars}}
    <span {{action click star}}>
      {{#if star.empty}}
      <span  style="color: #aaa;"> ☆</span>
      {{else}}
        <span  style="color: #FFA500;"> ★</span>
      {{/if}}
    </span>
{{/each}}