<div id="subcategory">
  <ul class="table">
    {{#each model}}
     <li>
       <img {{bind-attr src=src}} width="70" height="70">
       <br>
       <span class="category">{{imageID}}</span>
     </li>
     {{/each}}
  </ul>
</div>   