 <header>
      <h1>iFood</h1>
 </header>
<div class='login-content'>
	<ul>
		<li>{{view 'user-input' placeholder='Username' value=username }}</li>
		<li>{{input type='password' placeholder='Password' value=password action='login' onEvent='keypress'}}</li>
		<li><button class='loginButton' {{action 'login'}}>login</button></li>	
	</ul>
</div>